// .custom-dropdown {
//   padding: 10px;
//   font-size: 16px;
//   border: none;
//   border-style: none;
//   // border: 1px solid #ccc;
//   // border-radius: 5px;
//   width: 100px;
//   background: white;
//   overflow: hidden;
//   transition: height 0.3s;
//   height: 40px;
// }

/* Open the dropdown on hover */

/* Style the options */
// .custom-dropdown option {
//   font-size: 16px;
// }

.header_container {
  width: 100%;
  padding: 1% 10%;
}

Link,
NavLink {
  font-family: "Rubix", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
